
a{
    color:#660033;
    text-align: center;
    display: inline-block;
    }
    
body{
background-color:rgb(255, 255, 255);
}

#victor{
font-family: 'Grand Hotel', cursive;
font-size: 30px;

}

li {
    display: inline-block;
    text-align: center;
}


li a {

    padding: 20px;
}


    

