{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
{% load static %}
<div class="row">
  <div class="col-md-6">
      <a class="navbar-brand" href="{% url 'homePage' %}"><img src="{% static 'photos/insta.jpg' %}" style="height:700px;width:500px; margin: 80px;padding-top: 0px;padding-bottom: 30px;margin-top:2px; ">
      </a>
  </div>

    <!-- Empty div -->
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">
          <a class="navbar-brand" href="{% url 'homePage' %}"><img src="{% static 'photos/ig.png' %}" style="height:100px;width:200px;"></a>
      <div class="card-columns">
      </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>
        </div>
        </div>
__<div class="row">
    <div class="col-md-3">
        <a class="navbar-brand" href="{% url 'homePage' %}"><img src="{% static 'photos/google.png' %}" style="height:100px;width:200px;"><img src="{% static 'photos/app.png' %}" style="height:90px;width:200px;">
        </a>
      </div>
    </div>
      </div>
    <!-- empty div -->
  </div>

 <!-- <ul class="active">
   <li > About us  </li>
   <li > Support  </li>
   <li > Page  </li>
   <li > Contact us  </li>
   <li> Api  </li>
   <li> Profile  </li>
   <li > Register  </li>
 </ul>
   -->

{% endblock %}