{% extends 'base.html' %} {% load static %} {% load bootstrap4 %}{% block content %}
<link rel="stylesheet" href="{% static 'css/insta.css' %}">
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="row">
          {% for picture in pictures %}
          <div class="col-md-8">
      
          <div class="card" style="width:500px">
              <img class="card-img-top" src="{{picture.image_path.url}}" alt="Card image">
              <a  href="{% url 'image-detail' picture.id %}">
                <strong>view</strong>
              </a>
              <div class="card-body">
                <p class="card-title" style="font-family: 'Oswald', sans-serif;" href="#"> <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png"></p>
                <p class="card-text" style="font-family: 'Oswald', sans-serif;" href="#"><img src="https://img.icons8.com/metro/26/000000/topic.png"></p>
                <p class="card-text" style="font-family: 'Oswald', sans-serif;" href="#"><img src="https://img.icons8.com/ios-glyphs/30/000000/share-rounded.png"></p>
              </div>
            </div>
          </div>       
          {% endfor %}
      </div>
    </div>
        <div class="col-sm-4"style="">
            <div class="col-md-1"></div>
          <h4><img src="https://img.icons8.com/ios/50/000000/gender-neutral-user-filled.png"><strong>amiin_egal</strong></h4>
          <div class="card">
            <div class="card-body">
              <ul>
                <li><img src="https://img.icons8.com/office/16/000000/circled-user-female-skin-type-4.png"><strong>amiin_egal</strong></li><br>
                <li><img src="https://img.icons8.com/office/16/000000/circled-user-female-skin-type-4.png"><strong>amiin_egal</strong></li><br>
                <li><img src="https://img.icons8.com/office/16/000000/circled-user-female-skin-type-4.png"><strong>amiin_egal</strong></li><br>
                <li><img src="https://img.icons8.com/office/16/000000/circled-user-female-skin-type-4.png"><strong>amiin_egal</strong></li><br>
                <li><img src="https://img.icons8.com/office/16/000000/circled-user-female-skin-type-4.png"><strong>amiin_egal</strong></li>
              </ul>
              
            </div>
          </div>
          <br>
          <div class="card">
              <div class="card-body">
                  <!-- <ul>
                      <li><strong>amiin_egal</strong></li>
                       <button class="active">Follow</button><br>
                      <li><strong>amiin_egal</strong></li><br>
                      <li><strong>amiin_egal</strong></li><br>
                      <li><strong>amiin_egal</strong></li><br>
                      <li><strong>amiin_egal</strong></li>
                    </ul> -->
                    <img src="https://images.unsplash.com/photo-1494688290324-e296afa7dc45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""style="width:380px;">
              </div>
            </div>
        </div>
      </div>
    </div>
   <div class="col-md-2"></div>
<div class="jumbotron text-center mt-0" style="background-color:white;">

  <form  action="{%url 'homePage'%}" method="post">
    {%csrf_token%}

    {% bootstrap_form letterForm  %}
    <input type="submit" value="Subscribe To Instagram ">
  </form>

</div>
</div>
{% endblock %}

