{% extends 'base.html' %} {% load static %} {% load bootstrap4 %}{% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">
  <div class="row">
  <div class="card-columns">
    {% for picture in pictures %}
    <div class="card border-secondary"><a href="{#}">
        <img src="{{picture.image_path.url}}" data-target="#imageModal{{image.id}}" data-toggle="modal" alt="" class="img-fluid" id="eachimage"
          size="100px200"></a>
 <p style="font-family: 'Oswald', sans-serif;"> Caption : {{ picture.name}}</p>
      <p style="font-family: 'Oswald', sans-serif;">Posted by : {{ picture.profile.user}}</p>

    </div>
    {% endfor %}
  </div>
</div>
</div>
<div class="jumbotron text-center mt-0" style="background-color:white;">

  <form  action="{%url 'homePage'%}" method="post">
    {%csrf_token%}

    {% bootstrap_form letterForm  %}
    <input type="submit" value="Subscribe To Instagram ">
  </form>

</div>
{% endblock %}
