{% extends 'base.html' %} {% load static %} {% load bootstrap4 %}{% block content %}
<link rel="stylesheet" href="{% static 'css/insta.css' %}">
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="row">
          {% for picture in pictures %}
          <div class="col-md-8">
      
          <div class="card" style="width:500px">
              <img class="card-img-top" src="{{picture.image_path.url}}" alt="Card image">
              <a  href="{% url 'image-detail' picture.id %}">
                <strong>view</strong>
              </a>
              <div class="card-body">
                <p class="card-title" style="font-family: 'Oswald', sans-serif;" href="{% url 'singleImageLike' picture.id%}"> <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png"></p>
                <p class="card-text" style="font-family: 'Oswald', sans-serif;" href="#"><img src="https://img.icons8.com/metro/26/000000/topic.png"></p>
                <p class="card-text" style="font-family: 'Oswald', sans-serif;" href="#"><img src="https://img.icons8.com/ios-glyphs/30/000000/share-rounded.png"></p>
              </div>
            </div>
          </div> 
          <div class="col-sm-5">
          <div class="col-sm-8">
                  <div class="container-fluid" style="position:fixed; width:320px">
                    <header style="margin-bottom:30px">
                      <img src="#" alt="" style="height:50px;width:50px; border-radius:50%; float:left; margin-right:15px">
                      <p style="font-weight:bold;font-size:16px">{{image.user}}</p>
                    </header>
                    <hr>
                    <p style="float:left; font-size:15px; font-weight:bolder; color:grey">Stories</p>
                    <p style="float:right; font-weight:bolder; font-size:15px">Watch All</p>
                    <div class="stories" style="overflow-y:auto; height:300px;margin-top:50px;padding:10px; border-bottom: 1px solid #ddd; width:100%">

                    </div>
                  </div>
                </div>
                 </div>      
          {% endfor %}
      </div>
    </div>
    <div class="col-md-2"></div>
    </div>
  </div>
<div class="jumbotron text-center mt-0" style="background-color:white;">

  <form  action="{%url 'homePage'%}" method="post">
    {%csrf_token%}

    {% bootstrap_form letterForm  %}
    <input type="submit" value="Subscribe To Instagram ">
  </form>

</div>
</div>
{% endblock %}

